.word{
	min-width: 230px;
	display: inline-block;
	position: relative;
}
.play{
	cursor: pointer;
	padding: 10px;
}
.meaning{
	display: none;
	top: 20px;
}
.word:hover .meaning{
	display: block;
	position: absolute;
}
body{
	width: 1200px;
	margin:  0 auto;
}
label{ font-weight:600; }
.part{
	padding: 25px 0;
}
#header{
	height: 81px;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	padding: 5px;
}
.menu ul li a{
	padding: 5px 8px;
}