ul, li, div, span, label{
	padding: 0;
	margin: 0;
}
.word{
	min-width: 230px;
	display: inline-block;
	position: relative;
}
.play{
	cursor: pointer;
	padding: 10px;
}
.meaning{
	display: none;
	top: 20px;
}
.word:hover .meaning{
	display: block;
	position: absolute;
}
body{
	width: 1200px;
	margin:  0 auto;
	max-width: 100%;
}
p{
	margin: 0;
	padding: 0;
	line-height: 26px;
}
label{ font-weight:600; }
.part{
	padding: 25px 0;
}
#header{
	height: 81px;
}
ul, li, div, span{
	margin: 0;
	padding: 0;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	padding: 5px;
}
.menu ul li a{
	padding: 5px 8px;
	text-decoration: none;
	font-weight: 500;
    font-size: 17px;
    color: #23085a;
}
.menu ul li {
	position: relative;
}
.menu ul .sub{
	display: none;
	width: 200px;
	padding: 0px;
	position: absolute;
	top:36px;
	left: -1px;
	z-index: 9;
	background: #fff;
}
.menu ul .sub{
	border-width: 1px;
	border-style: solid;
}
.menu ul .sub li{
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.menu ul .sub li,
.menu ul .sub{
	border-color: #e7e7e7;
}
.menu ul .sub li:last-child{
	border-bottom: 0;
}
.menu ul .sub li{
	display: block;
	clear: both;
}
li:hover .sub{
	display: block;
}
.section{
	padding: 25px 0;
	display: block;
	clear: both;
}
a{
	text-decoration: none;
	color: #ccc;
}
.half{
	display: inline-block;
	width: 50%;
	
}