@media screen and (max-width: 992px) {
  .menu{
    margin-bottom: 20px;
  }
  .word{
    min-width: 180px;
  }
  .menu ul li.fitem a{
    padding-left: 13px;
  }
  header{
    margin-bottom: 30px;
  }
}